# 运算方法

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [7]:
np.sqrt(df)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [8]:
df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [9]:
def func(x):
    return x[0] * 2, x[1] * -1

df.apply(func, axis=1, result_type='broadcast')
#  result_type='broadcast' 原 column 和 index 名会继承到新生成的数据中

   A  B
0  8 -9
1  8 -9
2  8 -9

In [10]:
# 你还想只对 row 进行操作？调一下 axis=0 和 func 里的运算规则

def func(r):
    return r[2] * 4

last_row = df.apply(func, axis=0)
print("last_row:\n", last_row)

df.iloc[2, :] = last_row
print("\ndf:\n", df)

last_row:
 A    16
B    36
dtype: int64

df:
     A   B
0   4   9
1   4   9
2  16  36