# Pandas 中的数据是什么

Pandas 支持最好的是一维和二维数据，一维数据就是一个序列，一条数据，

而二维数据是我们生活中更常见的种类，基本上所有 Excel 数据， 都是二维数据，有横纵交替，用两个维度来定位这个数据。

In [2]:
import pandas as pd

l = [11,22,33]
s = pd.Series(l)
print("list:", l)
print("series:", s)

list: [11, 22, 33]
series: 0    11
1    22
2    33
dtype: int64

In [3]:
list_data = list(range(-4, 4))
s = pd.Series(
  list_data, 
  index=list("abcdefgh"))
s

a   -4
b   -3
c   -2
d   -1
e    0
f    1
g    2
h    3
dtype: int64

打印出来，对比很明显，Pandas Series 还帮我们额外维护了一份索引。

目的并不是仅让你用 0123 这样的序号来检索数据，它还想让你可以用自己喜欢的索引来检索。看看下面的代码吧。

In [4]:
s = pd.Series(l, index=["a", "b", "c"])
s

a    11
b    22
c    33
dtype: int64

In [5]:
s = pd.Series({"a": 11, "b": 22, "c": 33})
s

a    11
b    22
c    33
dtype: int64

In [6]:
s = pd.Series({"a": 11, "b": 22, "c": 33})
s

a    11
b    22
c    33
dtype: int64

In [7]:
# 既然 Numpy 和 List 可以用来创建 Series，那 Series 能回退到 Numpy array 或者 List 吗? 我们试一试。

print("array:", s.to_numpy())
print("list:", s.values.tolist())

array: [11 22 33]
list: [11, 22, 33]

### 数据表DataFrame

在上一节数据文件读取的教学中，你 load 到的数据，实际上就是一个 DataFrame。

In [8]:
df = pd.DataFrame([
  [1,2],
  [3,4]
])
print(df)

   0  1
0  1  2
1  3  4

In [9]:
# 如果我要按位置来选取一下其中的值，我可以这么干。

# 第 0 行，第 1 列
# 或 第一个维度中的第 0 号，第二个维度中的第 1 号
df.at[0, 1]

2

In [10]:
# 我们还能将这些序号换成人类更好理解的文字标签信息。

df = pd.DataFrame({"col1": [1,3], "col2": [2, 4]})
print(df)

# 可以从结果看出，其实字典中的 key 会被当成是数据中的 column，而 value 会被当做是 row，这个非常符合你在 Excel 中的使用习惯

   col1  col2
0     1     2
1     3     4

In [11]:
# 将两个 Series 拼接起来

df = pd.DataFrame({"col1": pd.Series([1,3]), "col2": pd.Series([2, 4])})
print(df)

   col1  col2
0     1     2
1     3     4